[Unit]
Description=Robot Speech Service
After=redis-server.service

[Service]
Type=simple
WorkingDirectory=/robot/speech
ExecStart=/robot/speech/venv/bin/speech

[Install]
WantedBy=multi-user.target